// Global default params, used in configs

params {
    // Input files
    sam = null
    fasta = null
    gtf = null
    vcf = null
    splice_junctions = null
    
    // Parameters
    extract_sjs = false
    sj_correction = false
    variant_aware = false 
    
    // Boilerplate options
    outdir                       = 'results'
    publish_dir_mode             = 'copy'
}

// docker
docker.enabled               = true
docker.runOptions = '-u $(id -u):$(id -g)'

// process resources
process {
    memory = 8.GB 
    cpus = 2 
    container = 'biocontainers/transcriptclean:v2.0.2_cv1'
}
