// Global default params, used in configs
params {

    // TODO nf-core: Specify your pipeline's command line flags
    // Input options
    input                      = null
    extract_sjs                = false
    sj_correction              = false
    variant_aware              = false
    gtf                        = null
    splice_junctions           = null
    vcf                        = null
    
    // Boilerplate options
    outdir                       = 'results'
    publish_dir_mode             = 'copy'

    // docker
    docker.enabled               = true

    process {
      memory { 8.GB }
      task.cpus { 2 }
    }
